*{
    padding: 0px;
    margin: 0px;
    font-family: "roboto";
    
}

header{
    background-color: rgb(92, 92, 92);
    height: 100vh;
   
}

.logo{
    margin-top: 40px;
    margin-left: 70px;
}

.nav-items ul{
    display: flex;
    gap: 60px;
    justify-content: center;
    list-style-type: none;
    color: #fff;
    margin-top: -30px;
    font-family: "roboto";
    font-size: 18px;
    margin-left: 240px;
}

.lets-talk{
    float: right;
    margin-right: 30px;
    margin-top: -30px;
    border-color: #fff;
    color: #fff;
    background-color: rgb(92, 92, 92);
    padding: 1em 2.3em;
   
}


.section1{
    display: flex;
}


.left-image{
    margin-top: 50px;
    margin-left: 70px;
}

.header-img{
    width: 500px;
    height: 500px;
}

.right-heading{
    margin-top: 100px;
    margin-left: 70px;
    color: #fff;
    width: 600px;
    font-size: 33px;
}

.right-heading p{
    margin-top: 40px;
    line-height: 34px;
    color: rgb(200, 199, 199);
    font-size: 16px;
    width: 420px;
}

.mail-button{
    margin-top: 40px;

}

.mailbutton{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.lets-talk2{
    padding: 1em 2.3em;
    background-color: rgb(63, 159, 100);
    border: none;
    color: #fff;
    cursor: pointer;

}

.section2{
    margin-top: 90px;
    display: flex;
    margin-left: 70px;
}

.heading1 h2{
     margin-left: 500px; 
    font-size: 33px;
    width: 450px;
    
}

.projects{
    margin-top: 100px;
    display: flex;
    float: left;
    font-size: 29px;
    gap: 280px;
    width: 80px;
    margin-left: -750px;
}

 .projects h6{
    color: rgb(81, 80, 80);
    font-size: 14px;

}

.img1{
    margin-top: 240px;
    margin-left: -350px;
    width: 1200px;
}


 .team-work{

    width: 1200px;
    height: 500px;
    margin-left: 200px;
}

.section3{
    margin-top: 150px;
    margin-left: 70px;
    display: flex; 
    gap: 200px;
}

 .sec-heading h2{
    font-size: 33px;
    width: 350px;
    margin-left: 600px;

}

.left-heading2{
   margin-top: 170px;
   
   margin-left: -1000px;
}

.left-heading2 h3{
    font-size: 35px;
    width: 380px;

}

.left-heading2 p{
    margin-top: 40px;
    width: 350px;
    color:rgb(81, 80, 80);
    font-size: 18px; 
    line-height: 33px;
}

.lets-talk3{
    margin-top: 40px;
    padding: 1.2em 2.3em;
    background-color: rgb(63, 159, 100);
    border: none;
    cursor: pointer;
    color: #fff;
}

.right-img2{
    display: flex;
    gap: 200px;
    margin-top: 160px;
}

.right-img-2{
    width: 600px;
    height: 600px;
} 

.section4{
    display: flex;
    gap: 170px;
    margin-top: 80px;
    margin-left: 70px;
}

.left-img3{
   display: flex;
   
}

.left-img-3{
    width: 600px;
    height: 600px;
}

.right-heading3{
    margin-top: 40px;

}

.right-heading3 h3{
    font-size: 35px;
    width: 350px;
}

.right-heading3 p{
    font-size: 18px;
    margin-top: 40px;
    width: 350px;
    color:rgb(81, 80, 80);
    line-height: 33px;
}

.section5{
    display: flex;
    gap: 170px;
    margin-top: 80px;
    margin-left: 70px;
}

.left-heading4{
    margin-top: 100px;

}

.left-heading4 h3{
    font-size: 35px;
    width: 400px;
}

.left-heading4 p{
    font-size: 18px;
    margin-top: 40px;
    width: 350px;
    color:rgb(81, 80, 80);
    line-height: 33px;
}

.right-img-4{
    width: 600px;
    height: 600px;
    margin-left: 180px;
}

.section6{
    display: flex;
    gap: 170px;
    margin-top: 100px;
    margin-left: 70px;
}

.left-heading5 h3{
      font-size: 35px;
      width: 250px;
}

/* .right-desc1{
    margin-left: 240px;
    
} */

.right-desc1 p{
    font-size: 18px;
    width: 450px;
    color:rgb(81, 80, 80);
    line-height: 33px;
    margin-left: 290px;
}

.section7{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    margin-left: 70px;
}

.images-descs{
    display: flex;
    gap: 190px;
}

.image-desc1{
    margin-top: 40px;

}

.first-image{
     width: 300px;
     height: 400px;
}

.image-desc1 h5{
    margin-top: 25px;
    font-size: 20px;
}

.image-desc1 p{
    margin-top: 20px;
    width: 300px;
    font-size: 16px;
    color:rgb(81, 80, 80);
}

.image-desc2{
    margin-top: 40px;

}

.snd-image{
    width: 300px;
    height: 400px;
}

.image-desc2 h5{
    margin-top: 25px;
    font-size: 20px;
}

.image-desc2 p{
    margin-top: 20px;
    width: 300px;
    font-size: 16px;
    color:rgb(81, 80, 80);
}

.image-desc3{
    margin-top: 40px;
}

.trd-image{
    width: 300px;
    height: 400px;
}

.image-desc3 h5{
    margin-top: 25px;
    font-size: 20px;

}

.image-desc3 p{
    margin-top: 20px;
    width: 300px;
    font-size: 16px;
    color:rgb(81, 80, 80);
}

.see-More{
    margin-left: 600px;
    margin-top: 40px;
    padding: 1.2em 2.3em;
    background-color: rgb(63, 159, 100);
    border: none;
    cursor: pointer;
    color: #fff;
}

.section8{
    display: flex;
    gap: 80px;
    margin-top: 80px;
    background-color: #000;
    height: 65vh;

}

.footer-logo{
    margin-top: 40px;
    margin-left: 70px;
}

.social-med{
    margin-left: 400px;
}

.soc-med{
    margin-top: -40px;
    margin-left: 920px;
}

.footer-lists{
    display: flex;
    gap: 150px;
    margin-left: 70px;
}

.product-lists ul{
    color: rgb(192, 186, 186);
    list-style-type: none;
    line-height: 45px;

}
.product-lists h5{
    font-size: 18px;
    color: #fff;
}

.top-feat ul{
    color: rgb(192, 186, 186);
    list-style-type: none;
    line-height: 45px;
}

.top-feat h5{
    font-size: 18px;
    color: #fff;
}

.resources ul{
    color: rgb(192, 186, 186);
    list-style-type: none;
    line-height: 45px;
}

.resources h5{
    font-size: 18px;
    color: #fff;
}

.company ul{
    color: rgb(192, 186, 186);
    list-style-type: none;
    line-height: 45px;
}

.company h5{
    font-size: 18px;
    color: #fff;
}

.favs ul{
    color: rgb(192, 186, 186);
    list-style-type: none;
    line-height: 45px;
}

.favs h5{
    font-size: 18px;
    color: #fff;
}


/* ---Mobile Responsive----- */

@media (max-width: 1200px){

    html body{
        overflow-x: hidden;
    }

    header{
        height: 200vh;
    }

    .logo{
        margin-left: 220px;
    }

    .nav-items ul{
        margin-top: 30px;
        flex-direction: column;
    }

    .lets-talk{
        margin-top: 25px;
        margin-right: 140px;
    }

    .section1{
        flex-direction: column;
    }

     .left-image{
        margin-top: 140px;
        
    }

    .header-img{
        height: 350px;
        width: 350px;
    }

    .right-heading{
        margin-top: 30px;
        font-size: 17px;
        width: 300px;

    } 

    .right-heading p{
        margin-top: 25px;
        font-size: 12px;
        line-height: 24px;
    }

    .mailbutton{
        width: 250px;
    }

    .section2{
        flex-direction: column;
        margin-top: 30px;
    }
    .heading1{
        margin-left: 130px;
    }
    .heading1 h2{
        font-size: 18px;
        margin-left: -50px;
        width: 300px;
        
    }

    .projects{
        margin-top: 50px;
        flex-direction: column;
        gap: 30px;
        margin-left: 130px;
        font-size: 19px;
       
    }

    .projects h6{
        font-size: 10px;
    }

    .img1{
        margin-top: 50px;
        margin-left: -190px;

    }

    .team-work{
        height: 350px;
        width: 350px;
    }

    .section3{
        flex-direction: column;
        margin-top: 50px;
        gap: 50px
    }

    .sec-heading h2{
        font-size: 23px;
        width: 250px;
         margin-left: 0px; 
    }

    .left-heading2{
        margin-top: 40px;
        margin-left: 20px;
    }

    .left-heading2 h3{
        font-size: 25px;
        width: 320px;
    }

    .left-heading2 p{
        margin-top: 25px;
        font-size: 12px;
        line-height: 23px;
    }

    .right-img2{
        margin-top: 40px;
    }

    .right-img-2{
        
        width: 300px;
        height: 300px;
    }

    .section4{
        flex-direction: column;
        gap: 40px;
    }

    .left-img3{
         flex-direction: column;
    }

    .left-img-3{
        height: 300px;
        width: 300px;
    }

    .right-heading3 h3{
        font-size: 25px;
        width: 300px;
    }

    .right-heading3 p{
        margin-top: 25px;
        font-size: 12px;
        line-height: 23px;
    }

    .section5{
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;

    }

    .left-heading4{
        margin-top: 40px;

    }

    .left-heading4 h3{
        font-size: 25px;
        width: 300px;
    }

    .left-heading4 p{
        margin-top: 25px;
        font-size: 12px;
        line-height: 23px;
    }

    .right-img-4{
        width: 300px;
        height: 300px;
        margin-left: 10px;
    }

    .section6{
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;
    }

    .left-heading5 h3{
        font-size: 25px;
        width: 250px;
    }

    .right-desc1 p{
        font-size: 12px;
        margin-left: 0px;
        line-height: 23px;
        width: 300px;
    }

    .section7{
        flex-direction: column;
        gap: 40px;

    }

    .images-descs{
        flex-direction: column;
        gap: 40px;
    }

    .first-image{
        width: 200px;
        height: 300px;

    }

    .image-desc1 h5{
        font-size: 14px;
    }

    .image-desc1 p{
        font-size: 10px;
    }

    .snd-image{
        width: 200px;
        height: 300px;
    }

    .image-desc2 h5{
        font-size: 14px;
    }

    .image-desc2 p{
        font-size: 10px;
    }

    .trd-image{
        width: 200px;
        height: 300px;
    }

    .image-desc3 h5{
         font-size: 14px;
    }

    .image-desc3 p{
        font-size: 10px;
    }

    .see-More{
        margin-left: 60px;
    }

    .section8{
        flex-direction: column;
        gap: 20px;
        height: 80vh;
    }
     
    .foot-logo{
        height: 30px;
        width: 50px;
    }
    .social-med{
        margin-left: -600px;
    }

    .soc-med{
        height: 80px;
        width: 60px;
    }

    .footer-lists{
       flex-direction: column; 
        gap: 25px;
        
    }

    .product-lists ul{
        line-height: 24px;
        font-size: 12px;
    }

    .top-feat ul{
        line-height: 24px;
        font-size: 12px;
    }

    .resources ul{
        line-height: 24px;
        font-size: 12px;
    }

    .company ul{
        margin-left: 180px;
        margin-top: -340px;
        line-height: 24px;
        font-size: 12px;
    }

    .favs ul{
        margin-left: 180px;
        margin-top: -220px;
        line-height: 24px;
        font-size: 12px;
    }








}
   



